html {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    background-color: #ffffff;
}
.container {
    width: 900px;
    margin: 0 auto;
}
/* navigation */
.main-header {
    padding: 0;
    height: 192px;;
}
.menu {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    padding: 76px 164px 92px;
    font-size: 0px;
    list-style: none;
    text-align: center;
}
.menu li {
    display: inline-block;
    font-size: 14px;
    margin-right: 100px;
    
}
.menu li :last-child {
    margin-right: 0px;
}
.menu a {
    display: block;
    color: #626262;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    
}
.menu :last-child{
    margin: 0px;
}

.menu li :hover,
.menu li :focus {
    color: #25b4f5;
}
/* section */
.journal_article {
    display: inline-block;
    font-size: 0;
}
.main-article {
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    list-style: none;
}
.article {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 130px;
}
.main-article :nth-child(2n){
    margin-right: 0px;
}
.main-article :nth-child(5){
    margin-bottom: 0px;
}
.main-article :nth-child(6){
    margin-bottom: 0px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.menu-link {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Ubuntu";
    line-height: 17px;
    color: #b4ad9e;
    margin: 0;
    margin-bottom: 24px;  
}
.arcticle h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    margin-bottom: 33px;
}
.text-article {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    margin: 0;
    padding: 0;
}
.load-button {
    display: block;
    border: 1px #626262 solid;
    margin: 50px auto;
    padding: 18px 33px;
    min-width: 164px;
    height: 58px;
    text-transform: inherit;
    background-color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #626262;
}
.load-button:hover{
    box-shadow: 0 0 5px 5px #0e0d0d;
}
