.bold-item {
    margin: 0 auto;
    margin-bottom: 82px;
    font-size: 30px;
    font-family: $main-font-style;
    color: $secondary-color;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 36px;
    text-align: center;
}
.bold-item::after{
    display: block;
    width: 60px;
    height: 3px;
    background-color: $secondary-active-color;
    content: '';
    margin: 0 auto;
    margin-top: 39px;
}
