.form{
    display: inline-flex;
}
.email{
    height: 40px;
    width: 230px;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    background-color: $primary-white-color;
    padding-left: 13px;
}
[placeholder="Your Email..."]{
    font-size: 15px;
    font-family: $font-style;
    color: #cccccc;
    font-style: italic;
    line-height: 24px;
    text-align: left;
}
#subscribe_submit{
    height: 40px;
    width: 150px;
    background-color: #95e1d3;
    border: #95e1d3;
    font-size: 14px;
    color: $primary-white-color;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    &:hover{
        color: #126657;
        transition: color 200ms linear;
        }
}

