.form{
    display: inline-flex;
}
.email{
    height: 40px;
    width: 230px;
    border-style: solid;
    border-width: 1px;
    border-color: $color-for-form;
    background-color: $primary-white-color;
    padding-left: 13px;
}
[placeholder="Your Email..."]{
    font-size: 15px;
    font-family: $font-style;
    color: $secondary-color-for-form;
    font-style: italic;
    line-height: 24px;
    text-align: left;
}
#subscribe_submit{
    height: 40px;
    width: 150px;
    background-color: $third-active-color;
    border: $third-active-color;
    font-size: $main-text-size;
    color: $primary-white-color;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    &:hover{
        color: $fourth-active-color;
        transition: color 200ms linear;
        }
}

