.learn-more{
    margin: 0 520px 230px;
    padding: 14px;
    font-size: $main-text-size;
    font-family: $main-font-style;
    color: $primary-white-color;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: $primary-white-color;
    background-color: transparent;
    width: 164px;
    height: 44px;
    cursor: pointer;
    &:hover{
        background-color: $primary-active-color;
}
}