.main-header{
    background: linear-gradient(0deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9)), url(../image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background: linear-gradient(0deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9)), url(../image/background@2x.png);
  }
}