@mixin link($display: block, $trans: uppercase, $decor: none){
    display: $display;
    text-transform: $trans;
    text-decoration: $decor;
}
@mixin generate-pseudo-icons($baseclass, $list, $path, $ext) {
    @each $icon in $list {
      .#{$baseclass}#{$icon}::before {
        background-image: url(#{$path}#{$icon}.#{$ext});
      }
    }
  }