$main-font-style: "Montserrat", sans-serif;
$font-style: "Roboto";
$font-italic-style: "Kaushan Script";
$primary-white-color: #ffffff;
$primary-color: #999999;
$secondary-color: #333333;
$primary-active-color: #fce38a;
$secondary-active-color: #f38181;
$third-active-color: #95e1d3;
$fourth-active-color: #126657;
$bg-footer: #e5e5e5;
$color-for-form: #e7e7e7;
$secondary-color-for-form: #cccccc;
$main-text-size: 14px;
$main-text-height: 1.2;