$main-font-style: "Montserrat", sans-serif;
$font-style: "Roboto";
$primary-white-color: #ffffff;
$primary-color: #999999;
$secondary-color: #333333;
$primary-active-color: #fce38a;
$secondary-active-color: #f38181;
$main-text-size: 14px;
$main-text-height: 1.2;